.ant-table-wrapper {
	clear: both;
	max-width: 100%;
	height: 100%;
	flex: 1;
}
.l-table-content {
	background-color: #fff;
	padding: 10px;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}
